@model ICollection<CRUDOperation.Models.ProductOrder>





<h1>Product Order List</h1>

<div class="row ">
    <a id="Add" href="/ProductOrder/create" class="btn btn-primary btn-row"><i class=" fa fa-plus-square"></i>  Create Product Order</a>
</div>
<partial name="~/Views/Shared/ProductOrder/_ProductOrderList.cshtml" model="Model" />