@using CRUDOperation.Models.RazorViewModels.Order
@model CRUDOperation.Models.RazorViewModels.Order.OrderCreateViewModel



<h1>Order Create</h1>
<form method="post">

    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="CustomerId" class="col-md-2">CustomerId</label>
            <div class="col-md-10">
                <input type="text" asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderNo" class="col-md-2">OrderNo</label>
            <div class="col-md-10">
                <input type="text" asp-for="OrderNo" class="form-control" />
                <span asp-validation-for="OrderNo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="OrderDate" class="col-md-2">OrderDate</label>
            <div class="col-md-10">
                <input type="text" asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Phone" class="col-md-2">Phone No</label>
            <div class="col-md-10">
                <input type="text" asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShippingAddress" class="col-md-2">Shipping Address</label>
            <div class="col-md-10">
                <input type="text" asp-for="ShippingAddress" class="form-control" />
                <span asp-validation-for="ShippingAddress" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentMethod" class="col-md-2">Payment Method</label>@*Dropdown List Binding*@
            <div class="col-md-10">
                <select asp-for="PaymentMethod" asp-items="@ViewBag.PaymentMethodSelectList" class="form-control"> </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2">Status</label>@*Dropdown List Binding*@
            <div class="col-md-10">
                <select asp-for="Status" asp-items="@ViewBag.SelectList" class="form-control"> </select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<h1>Order List</h1>
<partial name="~/Views/Shared/Order/_OrderList.cshtml" model="Model.OrderList" />


@section Scripts
 {
    @*<script src="~/node_modules/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>*@
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

}

