

@{
    Layout = "_HomeLayout";
}

    <div class="">
        <div class="row" style="margin-top:51px;">
            <div class="col-md-12">
                <div class="col-md-2 pr-0">
                    <div class="sidebar">
                        <span><a href="#home"><i class="fa fa-home"></i>&nbsp;Home</a></span>
                        <span><a href="#news"><i class="fa fa-users"></i>&nbsp;Create Customer</a></span>
                        <a href="#contact"><i class="fa fa-pencil"></i>&nbsp;Create Product</a>
                        <a href="#contact"><i class="fa fa-list-alt"></i>&nbsp;Product List</a>
                        <a href="#contact"><i class="fa fa-pencil"></i>&nbsp;Create PO</a>
                        <a href="#contact"><i class="fa fa-pencil"></i>&nbsp;Create Category</a>
                        <a href="#contact"><i class="fa fa-pencil"></i>&nbsp;Create Stock</a>
                        <a href="#contact"><i class="fa fa-wrench"></i>&nbsp;Services</a>
                        <a href="#contact"><i class="fa fa-envelope"></i>&nbsp;Contact US</a>

                    </div>
                </div>
                
                <div class="col-md-10 pl-0" style="margin-top:40px;">
                    <div class="row">
                        <a href="http://localhost:53605/Product/Create" style="text-decoration:none; color:inherit;">
                            <div class="card text-white bg-success mb-3 ml-5 mr-4" style="height:143px;width:225px;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p style="font-size:20px;"><i class="fa fa-envelope-o"></i>&nbsp;Create Product</p>
                                </div>
                            </div>
                        </a>
                        <a href="http://localhost:53605/Customer/Create" style="text-decoration:none; color:inherit;">
                            <div class="card text-white mb-3 ml-4 mr-4" style="height:143px;width:225px; background-color:#999966;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p style="font-size:20px;"><i class="fa fa-users"></i>&nbsp;Create Customer</p>
                                </div>
                            </div>
                        </a>
                        <a href="http://localhost:53605/Category/Create" style="text-decoration:none; color:inherit;">
                            <div class="card text-white mb-3 ml-4 mr-4" style="height:143px;width:225px; background-color:#68AE00;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p style="font-size:20px;"><i class="fa fa-list-alt"></i>&nbsp;Create Category</p>
                                </div>
                            </div>
                        </a>
                        <a href="http://localhost:53605/Order/Create" style="text-decoration:none; color:inherit;">
                            <div class="card text-white mb-3 ml-4" style="height:143px;width:225px; background-color:#cc6600;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p style="font-size:20px;"><i class="fa fa-shopping-cart"></i>&nbsp;Create Order</p>
                                </div>
                            </div>
                        </a>

                    </div>
                    <div class="row">
                        <a href="" style="text-decoration:none; color:inherit;">
                            <div class="card text-white mb-3 ml-5 mr-4" style="height:143px;width:225px; background-color:#22B5BA;">
                                <div class="card-body align-items-center d-flex justify-content-center">
                                    <p style="font-size:20px;"><i class="fa fa-plus-square-o"></i>&nbsp;Pending Orders</p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
                <div id="mySidenav" class="sidenav">
                    <a href="#" id="about">About US</a>
                    <a href="#" id="blog">Clients</a>
                    <a href="#" id="projects">Projects</a>
                    <a href="#" id="contact">Contact US</a>
                </div>

            </div>

        </div>
    </div>


