/* <-------Customize by Biplob---------------Search starts----------------------> */

footer {
    position: relative;
    height: 200px;
    bottom: 0;
    width: 100%;
	background-color:gray;
}

/* <------------------------Ends--------------------------> */










