/* <-------Customize by Biplob---------------hover starts----------------------> */
body {
  /* background-color: #1D1F20; */
  padding-top: 40px;
  font-family: sans-serif;
}

.wrapper {
  width: 1280px;
  margin: 0 auto;
}

.zoom-effect-container {
    float: left;
    position: relative;
    width: 250px;
    height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  
}

.card img {
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.zoom-effect-container:hover .card img {
  -webkit-transform: scale(1.10);
  transform: scale(1.10);
}



/* <----------------Ends-----------------------------------> */

/* <----Add to Cart button hide and show------Starts------> */
.card .btn {
  display: none;
}
.card:hover .btn {
  display: block;
}

/* <------------------------Ends--------------------------> */



#main-content {

    margin-left: 180px;

}


.wrapper {

    display: inline-block;

    margin-top: 60px;

    padding: 15px;

    width: 100%;

}






